In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [3]:
data = pd.read_csv('movie_bd_v5.xls')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1248,tt2017038,9000000,6108720,All Is Lost,Robert Redford,J.C. Chandor,Never give up.,"Deep into a solo voyage in the Indian Ocean, a...",106,Action|Adventure|Drama,Sudden Storm Productions|FilmNation Entertainm...,10/18/2013,6.5,2013
1756,tt0758766,40000000,145896422,Music and Lyrics,Drew Barrymore|Hugh Grant|Scott Porter|Brad Ga...,Marc Lawrence,Share the music with someone you love.,A washed up singer is given a couple days to c...,96,Comedy|Music|Romance,Village Roadshow Pictures|Castle Rock Entertai...,2/9/2007,6.1,2007
734,tt1302011,150000000,665692281,Kung Fu Panda 2,Jack Black|Angelina Jolie|Dustin Hoffman|Gary ...,Jennifer Yuh,Prepare for the Year of Awesomeness!,Po is now living his dream as The Dragon Warri...,91,Animation|Family,DreamWorks Animation,5/25/2011,6.6,2011
847,tt1726669,10000000,3665069,Killer Joe,Matthew McConaughey|Emile Hirsch|Thomas Haden ...,William Friedkin,A Totally Deep-Fried Texas Redneck Trailer Par...,A cop (Matthew McConaughey) who moonlights as ...,102,Drama|Thriller,Voltage pictures|Worldview Entertainment|ANA M...,9/10/2011,6.3,2011
817,tt0993842,30000000,63782078,Hanna,Saoirse Ronan|Eric Bana|Vicky Krieps|Cate Blan...,Joe Wright,Adapt or die.,A 16-year-old girl raised by her father to be ...,111,Action|Thriller|Adventure,Focus Features|Neunte Babelsberg Film|Focus Fe...,4/7/2011,6.5,2011

In [4]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [6]:
data['profit'] = data['revenue'] - data['budget']

# 1. У какого фильма из списка самый большой бюджет?

In [29]:
print(data.sort_values(by='budget', ascending = False).original_title)

723     Pirates of the Caribbean: On Stranger Tides
1669       Pirates of the Caribbean: At World's End
14                          Avengers: Age of Ultron
1014                                    John Carter
380                                         Tangled
                           ...
885                 National Lampoonâ€™s Van Wilder
892                        My Big Fat Greek Wedding
1071                          Paranormal Activity 4
911                              Jackass: The Movie
1216                                Spring Breakers
Name: original_title, Length: 1889, dtype: object

ВАРИАНТ 2

In [7]:
print(data[data['budget'] == data['budget'].max()].original_title)

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

# 2. Какой из фильмов самый длительный (в минутах)?

In [30]:
data[data['runtime'] == data['runtime'].max()].original_title

1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [31]:
data[data['runtime'] == data['runtime'].min()].original_title

768    Winnie the Pooh
Name: original_title, dtype: object

# 4. Какова средняя длительность фильмов?

In [32]:
data['runtime'].mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [33]:
data['runtime'].median()

107.0

# 6. Какой самый прибыльный фильм?

In [34]:
data[data['profit'] == data['profit'].max()].original_title

239    Avatar
Name: original_title, dtype: object

# 7. Какой фильм самый убыточный?

In [35]:
data[data['profit'] == data['profit'].min()].original_title

1245    The Lone Ranger
Name: original_title, dtype: object

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [37]:
data[data['revenue'] > data['budget']].original_title.count()

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [55]:
data_2008 = data[data['release_year'] == 2008]
data_2008.sort_values(by = 'revenue', ascending = False).head(1).original_title

599    The Dark Knight
Name: original_title, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [61]:
data.loc[(data.release_year >= 2012) & (data.release_year <=2014)].sort_values(by = 'profit').head(1).original_title

1245    The Lone Ranger
Name: original_title, dtype: object

# 11. Какого жанра фильмов больше всего?

In [73]:
string = data.genres.str.cat(sep='|')
divide = string.split('|')
devide.value_counts()

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
dtype: int64

ВАРИАНТ 2

In [78]:
Counter(data.genres.str.cat(sep='|').split('|')).most_common(1)

[('Drama', 782)]

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [80]:
Counter(data[data.profit>0].genres.str.cat(sep='|').split('|')).most_common(1)

[('Drama', 560)]

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [92]:
directors = pd.Series(data.director.str.cat(sep='|').split('|')).value_counts()
for direct in directors.index:
    directors[direct] = data['revenue'][data['director'].map(lambda x: True if direct in x else False)].sum()
directors.sort_values(ascending = False)

Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
                        ...
David MichÃ´d           2295423
Steven Shainberg        2281089
Paul Schrader           2062066
Keanu Reeves            2054941
Simon Hunter            2033165
Length: 997, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [93]:
data2 = data[data.genres.str.contains('Action')]

In [94]:
directors = pd.Series(data2.director.str.cat(sep='|').split('|')).value_counts()
directors

Robert Rodriguez      9
Paul W.S. Anderson    7
Michael Bay           7
Ridley Scott          6
Antoine Fuqua         6
                     ..
Danny Pang            1
Mark Andrews          1
Philip Kaufman        1
Daniel Barber         1
Rupert Wyatt          1
Length: 364, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [100]:
data2 = data[data['release_year'] == 2012]

In [104]:
actors = pd.Series(data2.cast.str.cat(sep='|').split('|')).value_counts()
for actor in actors.index:
    actors[actor] = data2['revenue'][data['cast'].map(lambda x: True if actor in x else False)].sum()
actors.sort_values(ascending = False)

Chris Hemsworth       2027450773
Denis Leary           1629460639
Anne Hathaway         1522851057
Mark Ruffalo          1519557910
Scarlett Johansson    1519557910
                         ...
Jason Bateman            3428048
Nicolas Cage             2106557
Danny Huston             2106557
Sami Gayle               2106557
Josh Lucas               2106557
Length: 466, dtype: int64

In [5]:
data2 = data[data['release_year'] == 2012].copy()
data2['actors'] = data2.cast.str.split('|')
new_df = data2.explode('actors').groupby('actors').revenue.sum().sort_values(ascending = False)
new_df

actors
Chris Hemsworth      2027450773
Denis Leary          1629460639
Anne Hathaway        1522851057
Chris Evans          1519557910
Robert Downey Jr.    1519557910
                        ...
Jason Bateman           3428048
Danny Huston            2106557
Sami Gayle              2106557
Josh Lucas              2106557
Nicolas Cage            2106557
Name: revenue, Length: 466, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [106]:
data2 = data[data['budget'] > data['budget'].mean()]

In [107]:
actors = pd.Series(data2.cast.str.cat(sep='|').split('|')).value_counts()
actors

Matt Damon                18
Adam Sandler              17
Angelina Jolie            16
Eddie Murphy              15
Tom Cruise                15
                          ..
Taylor Swift               1
Natalia Klimas             1
Wilfried Hochholdinger     1
Colin Salmon               1
Tyler Hoechlin             1
Length: 1505, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [108]:
data2 = data[data.cast.str.contains('Nicolas Cage')]

In [110]:
films = pd.Series(data2.genres.str.cat(sep='|').split('|')).value_counts()
films

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Mystery             3
Animation           3
Family              3
History             2
Horror              1
War                 1
Romance             1
dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [111]:
data2 = data[data['production_companies'].str.contains('Paramount Pictures')]

In [113]:
data2[data2['profit'] == data2['profit'].min()].original_title

925    K-19: The Widowmaker
Name: original_title, dtype: object

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [118]:
data.groupby('release_year')['revenue'].sum().sort_values(ascending=False)

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
2010    21071204961
2009    20261791024
2008    18252781990
2007    18162406801
2004    15663430720
2005    15309425558
2006    14775042320
2003    14346123312
2002    14136361487
2001    13017764865
2000    10664099805
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [119]:
data2 = data[data['production_companies'].str.contains('Warner Bros')]

In [121]:
data2.groupby('release_year')['profit'].sum().sort_values(ascending=False)

release_year
2014    2295464519
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
2003    1855493377
2009    1822454136
2013    1636453400
2004    1631933725
2005    1551980298
2001    1343545668
2012    1258020056
2002    1022709901
2015     870368348
2006     620170743
2000     452631386
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [172]:
data_dates = data.release_date.apply(lambda x: x.split('/'))
data_dates.head()

0      [6, 9, 2015]
1     [5, 13, 2015]
2     [3, 18, 2015]
3    [12, 15, 2015]
4      [4, 1, 2015]
Name: release_date, dtype: object

In [173]:
data['month'] = data_dates.apply(lambda x: int(x[0]))
data.month.head()

0     6
1     5
2     3
3    12
4     4
Name: month, dtype: int64

In [176]:
data['month'].value_counts()

9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: month, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [182]:
len(data.loc[data['month'].isin([6,7,8])])

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [193]:
data_winter = data.loc[data['month'].isin([1, 2, 12])]
directors = pd.Series(data_winter.director.str.cat(sep='|').split('|')).value_counts()
directors.head()

Peter Jackson        7
Clint Eastwood       6
Steven Soderbergh    6
Nancy Meyers         4
Martin Scorsese      4
dtype: int64

# 24. Какая студия в среднем дает самые длинные названия своим фильмам по количеству символов?

In [194]:
data['length_title'] = data.original_title.apply(lambda x: len(x))
data.length_title.head()

0    14
1    18
2     9
3    28
4     9
Name: length_title, dtype: int64

In [196]:
companies = pd.Series(data['production_companies'].str.cat(sep=('|')).split('|')).value_counts()
companies.head()

Universal Pictures                        173
Warner Bros.                              168
Paramount Pictures                        122
Columbia Pictures                         117
Twentieth Century Fox Film Corporation    109
dtype: int64

In [201]:
for company in companies.index:
    companies[company] = data['length_title'][data['production_companies'].map(lambda x: True if company in x else False)].mean()
companies.sort_values(ascending = False)

Four By Two Productions       83
Jim Henson Company, The       59
Dos Corazones                 47
Museum Canada Productions     46
Polsky Films                  46
                              ..
Berlanti Productions           3
Everest Entertainment          3
Global Entertainment Group     2
Ixtlan Productions             2
XM2 Productions                2
Length: 1771, dtype: int64

Вариант покруче:  
`data['split_company'] = data['production_companies'].str.split('|')  
data['lenght_name'] = data['original_title'].apply(lambda row: len(row))  
task24 = data.explode('split_company').groupby('split_company').lenght_name.mean().sort_values(ascending = False)`

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [202]:
data['length_overview'] = data.overview.apply(lambda x: len(x.split()))
data['length_overview'].head()

0     26
1    110
2     22
3     26
4     14
Name: length_overview, dtype: int64

In [206]:
companies = pd.Series(data['production_companies'].str.cat(sep=('|')).split('|')).value_counts()
for company in companies.index:
    companies[company] = data['length_overview'][data['production_companies'].map(lambda x: True if company in x else False)].mean()
companies.sort_values(ascending = False).head()

Midnight Picture Show               175
Room 9 Entertainment                161
Heineken Branded Entertainment      159
98 MPH Productions                  159
Brookwell-McNamara Entertainment    156
dtype: int64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [145]:
data[['vote_average', 'original_title']].sort_values(by='vote_average').tail(19)

      vote_average                                 original_title
1563           7.8          Eternal Sunshine of the Spotless Mind
155            7.8                       The Theory of Everything
863            7.8          The Lord of the Rings: The Two Towers
1688           7.8                            There Will Be Blood
283            7.8                                     Mr. Nobody
1191           7.9                               12 Years a Slave
872            7.9                                    The Pianist
128            7.9                                      Gone Girl
1800           7.9                                        Memento
119            7.9                        Guardians of the Galaxy
370            7.9                                      Inception
1183           7.9                        The Wolf of Wall Street
138            7.9                       The Grand Budapest Hotel
1081           7.9  The Lord of the Rings: The Return of the King
34             8.0                                           Room
118            8.0                                   Interstellar
9              8.0                                     Inside Out
125            8.0                             The Imitation Game
599            8.1                                The Dark Knight

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [208]:
from itertools import combinations
data['list_of_actors'] = data.cast.apply(lambda x: x.split('|'))
data['list_of_actors'].head()

0    [Chris Pratt, Bryce Dallas Howard, Irrfan Khan...
1    [Tom Hardy, Charlize Theron, Hugh Keays-Byrne,...
2    [Shailene Woodley, Theo James, Kate Winslet, A...
3    [Harrison Ford, Mark Hamill, Carrie Fisher, Ad...
4    [Vin Diesel, Paul Walker, Jason Statham, Miche...
Name: list_of_actors, dtype: object

In [214]:
pairs = Counter()
for i in data['list_of_actors']:
    for j in list(combinations(i, 2)):
        if j not in pairs:
            if (j[1], j[0]) not in pairs:
                pairs[j] = 1
            else:
                pairs[(j[1], j[0])] += 1
        else:
            pairs[j] += 1
pairs.most_common(5)

[(('Daniel Radcliffe', 'Rupert Grint'), 8),
 (('Daniel Radcliffe', 'Emma Watson'), 8),
 (('Rupert Grint', 'Emma Watson'), 8),
 (('Ben Stiller', 'Owen Wilson'), 6),
 (('Johnny Depp', 'Helena Bonham Carter'), 6)]